.competitor-schedule {
  h1 {
    text-align: center;
    margin-bottom: 0;
  }

  table.match-schedule {
    tbody {
      tr {
        &.old-match {
          opacity: 0.5;
          font-size: fontSize(0.8);
        }

        &.current-match {
          font-weight: bold;
        }

        &.future-match {
          opacity: 0.8;
        }
      }
    }
  }
}
