@function fontSize($size) {
  @return calc(10px + #{$size} * 2.5vmin);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: fontSize(1);
}

.arena-side {
  background-color: #282c34;
  color: white;
}

.public-facing {
  background-color: #3270ed;
  color: white;
}

@import "./components/match-schedule.scss";

@import "./home.scss";
@import "./staging.scss";
@import "./leaderboard.scss";
