.staging {
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      tr {
        th {
          padding: 0.5em 1em;
          text-align: left;
          border-bottom: 1px solid #ccc;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 0.5em 1em;
          border-bottom: 1px solid rgb(104, 104, 104);
        }
      }
    }
    .current-match {
      font-weight: bold;
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;

    & :first-child {
      margin-left: 1rem;
    }
    & :last-child {
      margin-right: 1rem;
    }
  }
}
