.staging {
  table.match-schedule {
    tbody {
      tr {
        &.current-match {
          font-weight: bold;
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;

    & :first-child {
      margin-left: 1rem;
    }
    & :last-child {
      margin-right: 1rem;
    }
  }
}
